* {
    margin: 0px;
    border: 0px;
}

.banner, .form, .header, .mid, .footer {
    display: flex;
    border: 3px solid red;
}

body {
    display: flex;
    justify-content: center;
}

.form {
    flex-direction: column;
}

img {
    max-width: 440px;
}