* {
    margin: 0px;
    border: 0px;

}

:root {
    --main-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: NorseBold;
    src: url(Norse-Bold.otf);
}

.banner, .form-page, .header, .mid, .footer {
    display: flex;
    border: 3px solid red;
}

body {
    display: flex;
    justify-content: center;
    padding-left: 8rem;
    padding-right: 8rem;
    background-color: rgb(26, 26, 26);
}

.form-page {
    flex-direction: column;
    justify-content: center;
    background-color: rgb(248, 240, 230);
    font-family: var(--main-font);
}

.header {
    font-weight: bold;
    padding: 3rem 3rem 3rem 1rem;
}

.mid {
    flex-direction: column;
    background-color: white;
    padding: 1rem 3rem 1rem 1rem;
}

.mid > h3 {
    margin-bottom: 1rem;
}

.footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 3rem 3rem 1rem;
}

.footer > button {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: chocolate;
    border-radius: 0.5rem;
    color: white;
    font-weight: bolder;
}

.footer > p {
    font-size: small;
}

.footer > p > a {
    color: chocolate;
}

form {
    display: flex;
    flex-direction: column;
    font-size: xx-small;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

img {
    width: 27rem;
    height: auto;
    border: 3px solid yellow;
}

form > div {
    display: flex;
}

form > div > div {
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid chocolate;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
}

.banner-textbox {
    display: flex;
    position: absolute;
    top: 10rem;
    width: 27rem;
    border: 3px solid green;
    background-color: white;
    opacity: 0.8;
    align-items: center;
    justify-content: center;
}

.banner > div > img {
    max-width: 70px;
}

.banner-textbox > p {
    font-family: NorseBold;
    font-size: 40px;
}

#watermark {
    display: flex;
    position: absolute;
    color: chocolate;
    font-size: 10px;
    top: 29rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
