* {
    margin: 0px;
    border: 0px;

}

@font-face {
    font-family: NorseBold;
    src: url(Norse-Bold.otf);
}

.banner, .form-page, .header, .mid, .footer {
    display: flex;
    border: 3px solid red;
}

.mid, .header, .footer {
    padding: 2rem;
}

body {
    display: flex;
    justify-content: center;
}

.form-page {
    flex-direction: column;
}

.mid {
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

img {
    width: 27rem;
    height: auto;
    border: 3px solid yellow;
}

form > div {
    display: flex;
}

form > div > div {
    display: flex;
    flex-direction: column;
}

.banner-textbox {
    display: flex;
    position: absolute;
    top: 10rem;
    width: 27rem;
    border: 3px solid green;
    background-color: white;
    opacity: 0.8;
    align-items: center;
    justify-content: center;
}

.banner > div > img {
    max-width: 70px;
}

.banner-textbox > p {
    font-family: NorseBold;
    font-size: 40px;
}

.banner > p {
    position: absolute;
    color: white;
    bottom: 20px;
    font-size: 10px;
    left: 5rem;
}
